# stuff to set sane settings for devices
function keyb() {
  echo "natural scroll... "; xinput --set-prop 12 315 1;
  echo "natural scroll mouse... "; xinput --set-prop 'pointer:MOSART Semi. 2.4G Keyboard Mouse' 'libinput Natural Scrolling Enabled' 1;
  echo "natural scroll mouse... "; xinput --set-prop 'SynPS/2 Synaptics TouchPad' 'libinput Natural Scrolling Enabled' 1;
  echo "key repeat ... "; xset r rate 225 100;
  echo "caps -> escape ... "; setxkbmap -option caps:swapescape;
  echo "nat scroll ";
  xinput --set-prop 'pointer:Lenovo ThinkPad Compact USB Keyboard with TrackPoint' 'libinput Natural Scrolling Enabled' 1;
  xinput --set-prop 'TPPS/2 IBM TrackPoint' 'libinput Natural Scrolling Enabled' 1
  echo "keyboard uk ... ";
	setxkbmap us;
  echo "... done"; 
}

# open vimwiki
function vw() {
	vim ~/Dropbox/vimwiki/index.md;
}
function todo() {
  vim ~/Dropbox/vimwiki/todo.md
}

# open latex scratchpad
function vl() {
	v ~/Dropbox/vimwiki/latex.md;
}

function mkd() {
	mkdir -p "$@" && cd "$_";
}

# Determine size of a file or total size of a directory
function fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh;
	else
		local arg=-sh;
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@";
	else
		du $arg .[^.]* *;
	fi;
}

# Use Git’s colored diff when available
hash git &>/dev/null;
if [ $? -eq 0 ]; then
	function diff() {
		git diff --no-index --color-words "$@";
	}
fi;

# `v` with no arguments opens the current directory in Vim, otherwise opens the
# given location
function v() {
	if [ $# -eq 0 ]; then
		vim "$(fzf)";
	else
		vim "$@";
	fi;
}

# open vim without vimrc
function vn() {
	if [ $# -eq 0 ]; then
		$vim -u NONE "$(fzf)";
	else
		$vim -u NONE "$@";
	fi;
}

# Fzf search bash history + executes.
function fh() {
	eval $( ([ -n "$ZSH_NAME" ] && fc -l 1 || history) | fzf +s --tac | sed 's/ *[0-9]* *//')
}

# Fzf search with AG
function fa() {
	ag --nobreak --nonumbers --noheading . | fzf
}
